.sec-findRightFit {
  width: 100%;
  padding: 166px 0 160px;
  position: relative;
}
.sec-findRightFit .bx-findRightFit {
  display: flex;
  justify-content: end;
}
.sec-findRightFit .bx-findRightFit .find-right-fit {
  width: 355px;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.sec-findRightFit .bx-findRightFit .find-right-fit h3 {
  font-size: 40px;
  color: #222222;
  font-weight: 500;
}
.sec-findRightFit .bx-findRightFit .find-right-fit p {
  font-size: 16px;
  margin-top: 24px;
}
.sec-findRightFit .bx-findRightFit .find-right-fit .btnTalkToUs {
  margin-top: 32px;
  color: #fff;
}
.sec-findRightFit .carousel-findRightFit {
  margin-top: 56px;
}
.sec-findRightFit .carousel-findRightFit ul {
  display: flex;
  justify-content: space-between;
}
.sec-findRightFit .carousel-findRightFit ul li.active {
  width: 368px;
  position: relative;
}
.sec-findRightFit .carousel-findRightFit ul li.active .img-findRightFit {
  display: none;
}
.sec-findRightFit .carousel-findRightFit ul li.active .big-img-findRightFit {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 368px;
}
.sec-findRightFit .carousel-findRightFit ul li.active .big-img-findRightFit::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -48px;
  background-color: #E24343;
  width: 100%;
  height: 490px;
}
.sec-findRightFit .carousel-findRightFit ul li.active .big-img-findRightFit::after {
  content: "";
  position: absolute;
  left: -45px;
  top: -20px;
  background-color: #E24343;
  width: 44px;
  height: 39px;
}
.sec-findRightFit .carousel-findRightFit ul li.active .big-img-findRightFit .mainImg-findRightFit {
  position: relative;
}
.sec-findRightFit .carousel-findRightFit ul li.active .big-img-findRightFit .mainImg-findRightFit img {
  width: 100%;
}
.sec-findRightFit .carousel-findRightFit ul li.active .big-img-findRightFit .bx-followers {
  width: 268px;
  height: 215px;
  background: #000;
  float: right;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 36px 0;
  position: relative;
  z-index: 999;
  right: -16px;
  bottom: -6px;
}
.sec-findRightFit .carousel-findRightFit ul li.active .big-img-findRightFit .bx-followers h3 {
  width: 100%;
  font-size: 50px;
  margin: 0;
}
.sec-findRightFit .carousel-findRightFit ul li.active .big-img-findRightFit .bx-followers p {
  width: 100%;
  font-size: 30px;
  margin: 0;
}
.sec-findRightFit .carousel-findRightFit ul li.active .text-mainImg {
  position: absolute;
  color: #fff;
  padding: 12px;
  left: 0;
  bottom: -45px;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}
.sec-findRightFit .scroll-line-horizontal {
  top: 60px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.41);
  right: unset;
  width: 64%;
}
.sec-findRightFit .pulse {
  background: #000;
  right: 0;
  animation: shadow-pulse-right-fit 1.5s infinite;
}
@keyframes shadow-pulse-right-fit {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.582);
  }
  100% {
    box-shadow: 0 0 7px 25px rgba(0, 0, 0, 0);
  }
}