.sec-ourWorks {
    background-color: #E05959;
    padding: 80px 0 0;
    position: relative;

    .scroll-line-horizontal {
        top: 40px;
        right: 0;
        left: unset;
    }
    .scroll-line-horizontal .pulse {
        left: 0%;
        top: -6px;
    }
    .pulse {
        background: #fff;
        left: -5px;
    }




    .container {        
        position: relative;
        padding-bottom: 80px;
        .lineBar-ourWorks {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background: url('../images/line-bar.png');
            height: 314px;
        }
    }
    .title-ww-create {
        margin-top: 0px;
    }
    .bx-our-Works {
        margin-top: 60px;
        position: relative;
        z-index: 9;
        ul {
            display: flex;
            justify-content: space-between;
            li {
                img {
                    width: 100%;
                }
            }
        }
    }
    
    .BestOurWorks-slider {
        .slick-prev, .slick-next {
            top: unset;
            bottom: -20%;
            width: 38px;
            height: 38px;
            &::before {
                content: "";
                width: 38px;
                height: 38px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 1;
                border: 1px solid #000;
                border-radius: 50%;
                background-position: center;
            }
        }
        .slick-prev {
            right: 53px;
            left: unset;
        }
        .slick-next {
            right: 0px;
        }
        .slick-prev:before {
            background: url('../images/arrow_back_black.png') no-repeat;
            background-position: center;
        }
        .slick-next:before {
            background: url('../images/arrow_forward_black.png') no-repeat;
            background-position: center;
        }
    }

}