

body{color:#000;font-size:14px;width:100%; 
    font-family: 'Mulish', sans-serif;
}
.title-ww-create {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}
.btnTalkToUs {
    display: flex;
    width: 230px;
    height: 60px;
    justify-content: space-evenly;
    background-color: #E24343;
    align-items: center;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    flex: none;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.582);
    }

    100% {
        box-shadow: 0 0 7px 25px rgba(0, 112, 244, 0);
    }
}

.pulse {
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50px;
    animation: shadow-pulse 1.5s infinite;
    position: absolute;
    left: -5px;
    top: 61%;
}

.scroll-line-horizontal {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.3215686275);
    .pulse {  
        left: 100%;
        top: -6px;
    }
}
.close-icon-humberger {
    margin-top: 12px;
}
.SLR-vertical-Small {
    position: absolute;
    height: 49px;
    width: 1px;
    background-color: rgb(0 0 0 / 41%);
    right: 0;
}
.icon-humberger {
    width: 32px;
    padding: 4px;
    cursor: pointer;
    img {
        width: 100%;
    }
}
.bx-open-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000ea;
    top: 0px;
    z-index: 9;
    transition-duration: .5s;
}
.list-open-menu {
    margin-top: 64px;
    ul {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        li {
            color: #fff;
            font-size: 64px;
            font-weight: 800;
        }
    }
}

// = Responsive = //
@media(max-width: 768px){
    .btnTalkToUs {
        width: 164px;
        height: 52px;
        border-radius: 28px;
        font-size: 17px;
    }    
    .title-ww-create {
        color: #000;
        font-size: 22px;
    }
}