.sec-whatWeCreate {
    background-color: black;     
    padding: 60px 0 116px;
    font-family: 'Mulish', sans-serif;
    position: relative;
    .banner-whatWeCreate {
        margin-top: 40px;
        text-align: center;
    }
    .slick-slide {
        padding: 30px 0;
        img {
            height: 338px;
        }
    }
    .slick-slide.slick-active.slick-center.slick-current { 
        padding: 0px 0;
        img {
            height: 395px;
        }
     }
}

.whatWeCreate-slider {
    .slick-prev, .slick-next {
        top: unset;
        bottom: -7%;
        &::before {
            content: '';
            width: 23px;
            height: 24px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 1;
        }
    }
    .slick-prev {
        right: 40px;
        left: unset;
    }
    .slick-next {
        right: 0px;
    }
    .slick-prev:before {
        background: url('../images/arrow_back_white.png') no-repeat;
    }
    .slick-next:before {
        background: url('../images/arrow_next_white.png') no-repeat;
    }
}


// =  Responsive = //
@media (max-width: 768px){
    .TxtwhatWeCreate .talkToUs {
        gap: 17px;
        padding-left: 16px;
        flex-wrap: wrap;
        padding-left: 37px;
    }
    .TxtwhatWeCreate .contentTalkToUs p {
        color: #000;
    }
    .TxtwhatWeCreate {
        margin-top: 18px;
        padding: 30px 0 36px;
    }
    .sec-whatWeCreate {
        background-color: #eaeaea;
        padding: 40px 0 46px;
    }
    .sec-whatWeCreate .slick-slide {
        height: auto;
    }
}